body {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
 font-size: 50px;
}

main {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

ol {
 width: 50%;
 font-size: 30px;
 line-height: 220%;
}

.canva {
 position: relative;
 width: 50%;
 height: 0;
 padding-top: 50%;
 padding-bottom: 50px;
 box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
 margin-top: 1.6em;
 margin-bottom: 0.9em;
 overflow: hidden;
 border-radius: 8px;
 will-change: transform;
}

.canva-design {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 border: none;
 padding: 0;
 margin: 0;
}